body{
	background: #87CEFA;
}


.ocm1 {
			color: #ffffff;
			background: #ee2524;
		}

.ocm2 {
	color: #ffffff;
	background: #FA8072;
}

.ocm3 {
	color: #ffffff;
	background: pink;
}

.rectangle {
	width: 600px;
	height: 30px;
	background: red;
}


.form {
	transform: translateX(600px);
	position: absolute;
	color: #fff;
	width: 180px;
    height: 330px;
	/*max-width: 200px;*/
    font-family: sans-serif;
    font-size: 25px;
    background: #ee2524;
    padding: 70px;
    border-radius: 0% 100% 100% 0% / 0% 48% 52% 100%;
}

